@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), "Lato", sans-serif;
}

@theme inline {
  --font-family-sans: var(--font-lato), "Lato", sans-serif;
}
