# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://tree.sandeshshrestha.tech/api/v1

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_R5AUjoyz0QoYmH

# Environment
NODE_ENV=development
