<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMUepHkRSPdtp0zf99tNAIAPTlMGcpAKc</string>
	<key>GCM_SENDER_ID</key>
	<string>558464277857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treeindia.myexpoapp</string>
	<key>PROJECT_ID</key>
	<string>treesindia-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>treesindia-fcm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558464277857:ios:0a8eead7c7522ce5ea3920</string>
</dict>
</plist>